@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --Bright-blue: hsla(245, 75%, 52%, 0.664);
    --Dark-blue: hsl(223, 47%, 23%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Pale-blue: hsl(225, 100%, 94%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.hero {
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background: #DDE8FB;
    margin: 3.5rem 3rem;
    overflow: hidden;
    padding: 40px;
}

.container {
    background: white;
    border-radius: 20px;
    height: 44rem;
    margin: 40px auto;
    width: 31rem;
}

.container__img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    width: 100%;
}

.container__title {
    font-size: 28px;
    font-weight: 900;
    margin: 30px 0 20px;
    text-align: center;
}

.container__paragraph {
    color: var(--Desaturated-blue);
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 360px;
}

.container__plan {
    background: hsla(216, 33%, 94%, 0.89);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 70px 90px 1fr;
    grid-template-rows: 50px;
    margin: 20px auto;
    padding: 25px 20px;
    width: 350px;
}

.plan__anual {
    color: var(--Desaturated-blue);
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

.plan__anual--bold {
    color: black;
}

.plan__tbn {
    align-self: center;
    color: #322ACF;
    font-weight: 900;
    justify-self: end;
    text-align: center;
}

.plan__tbn:hover {
    color: var(--Bright-blue);
}

.container__cancelar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.container__payment {
    background: #322ACF;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    padding: 15px 0;
    text-decoration: none;
    width: 80%;
}

.container__order {
    color: var(--Desaturated-blue);
    font-size: 16px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

.container__payment:hover {
    background: var(--Bright-blue);
}

.footer {
    text-align: center;
    position: absolute;
    bottom: -200px;
}

@media screen and (max-width:376px) {
     :root {
        background: #DDE8FB;
    }
    .hero {
        width: min-content;
        margin: 0 auto;
        padding: 3rem 0.5rem;
        background-image: none;
    }
    .container {
        width: 17rem;
        height: 28rem;
        margin: 10px auto;
        overflow: hidden;
    }
    .container__title {
        font-size: 20px;
        line-height: 10px;
    }
    .container__paragraph {
        line-height: 20px;
        font-size: 12px;
        width: 200px;
    }
    .container__plan {
        grid-template-columns: 40px 70px 1fr;
        grid-template-rows: 20px;
        align-items: center;
        width: 85%;
        margin: 15px auto;
        padding: 20px 15px;
    }
    .plan__img {
        width: 35px;
        height: 35px;
    }
    .plan__anual {
        font-size: 10px;
        line-height: 17px;
    }
    .plan__tbn {
        font-size: 10px;
        font-weight: 900;
    }
    .container__payment {
        font-size: 12px;
        width: 85%;
        padding: 12px 0;
        margin: 5px auto;
    }
    .container__order {
        font-size: 12px;
        margin-top: 15px;
    }
    .footer {
        bottom: 0px;
    }
}